# message to agree
SECRET_AGREEMENT=
# required for signature
AGENT_ADDRESS=
# required private key for agent
AGENT_PRIVATE_KEY=
# required for counter party signature
COUNTER_PARTY_ADDRESS=
# required private key for counter party
COUNTER_PARTY_PRIVATE_KEY=
# required rpc url for EVM
RPC_URL=