# message to agree
SECRET_AGREEMENT=
# required for signature
PUBLIC_ADDRESS=
# required private key for agent
PRIVATE_KEY=
# required for counter party signature
COUNTER_PARTY_ADDRESS=
# required private key for counter party
COUNTER_PARTY_PRIVATE_KEY=
# required rpc url for EVM
RPC_URL=

# after creating an agreement fill details here
AGREEMENT_HASH=

# system settings
ABI_PATH=./abi
CONTRACT_ADDRESS=0x3cb46d7079d74fb0a66e4f949a3d2b3e9be62006